.tooltip {
  width: fit-content;
  padding: 5px 10px;
  font-family: monospace;
  font-size: 1.3rem;
  font-weight: bold;
  color: black;
  position: relative;
  display: grid;
  place-items: center;
}
.tooltip::before {
  content: attr(data);
  width: max-content;
  position: absolute;
  color: white;
  top: -130%;
  background: #33439f;
  padding: 7px 25px;
  border-radius: 5px;
  opacity: 0;
  transition: 0.3s;
  transform: translateY(100%);
}
.tooltip:hover::before {
  opacity: 1;
  transform: initial;
}
